:root {
    --arrows: #f7f1e3;
    --background: #2c2c54;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scene {
    background: var(--background);
    height: 100vh;
}

.scene__animation {
    width: 70vw;
    min-height: 300px;
    max-width: 800px;
    height: auto;
}