body {
    display: flex;
    flex-direction: column;
}

.slideBox {
    margin-top: 50px;
    width: 1920px;
    height: 1000px;
    overflow: none;
    
    display: flex;
    align-items: center;
}

.slideBox div {
    width: 890px;
    height: 240px;
    background: #FFFFFF;
    border: 5px solid #000000;
    border-radius: 20px;
}