body{
    display: flex;
    margin:auto;
}
.ear{
    width: 60px;
    height: 60px;
    background-color: orange;
    border-radius: 50rem;
    border: 10px solid black;
    margin-left: 50px;
    margin-right: 50px;
}

#head{
    position: absolute;
    width: 340px;
    height: 340px;
    background-color: orange;
    border-radius: 20rem;
    border: 10px solid black;
    margin-top: 10px;
    z-index: 1;
}

.Eyebrow{
    width: 65px;
    height: 10px;
    background-color: black;
    border-radius: 10rem;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}

.Eye{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 10rem;
    margin-left: 75px;
    margin-right: 65px;
    margin-top: 20px;
}

#Mouth_div{
    display: flex;
    justify-content: center;
}
#nose{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 10rem;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
}

#Mouth{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: -50px;
    background-color: white;
    border: 10px solid black;
    border-radius: 5rem;
}

#Mouth::before{
    content: "";
    display: block;
    clear: both;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 10px solid black;
    border-radius: 5rem;
    transform: translateY(-10px) translateX(45px);
}

#Mouth_triangle{
    position: absolute;
    width: 0;
    height: 0;
    margin-top: 40px;
    margin-left: -10px;
    border-bottom: 30px solid transparent;
    border-left: 30px solid white;
    transform: rotate(-210deg);
}
#Mouth_triangle::before{
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 0;
    border-bottom: 30px solid transparent;
    border-right: 30px solid white;
    transform: translate(-47px,-13px) rotate(60deg);
}

#Body{
    position: absolute;
    width: 260px;
    height: 200px;
    margin-top: 300px;
    margin-left: 40px;
    background-color: orange;
    border: 10px solid black;
    border-radius: 20rem 20rem 5rem 5rem;
    z-index: -1;
}

#leg{
    position: absolute;
    width: 70px;
    height: 220px;
    margin-top: 400px;
    margin-left: 80px;
    background-color: orange;
    border: 10px solid black;
    border-top: 0;
    border-radius: 0 0 15rem 15rem;
}

#leg::before{
    content: "";
    display: block;
    clear: both;
    position: absolute;
    width: 70px;
    height: 220px;
    margin-top: 400px;
    margin-left: 80px;
    background-color: orange;
    border: 10px solid black;
    border-top: 0;
    border-radius: 0 0 15rem 15rem;
    transform:translate(20px,-400px);
}

#center_box{
    position: absolute;
    width: 60px;
    height: 150px;
    background-color: orange;
    border-bottom: 10px solid black;
    margin-top: 400px;
    margin-left: 150px;
}

#stomach{
    position: absolute;
    display: flex;
    width: 140px;
    height: 140px;
    margin-top: 390px;
    margin-left: 110px;
    background-color: white;
    border-radius: 10rem;
}

#stomach_triangle{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: orange;
    margin-top: 380px;
    margin-left: 150px;
    transform: rotate(230deg);
}
#stomach_triangle::before{
    content: "";
    display: block;
    clear: both;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: orange;
    margin-top: 380px;
    margin-left: 150px;
    transform: rotate(180deg) translate(175px,350px);
}