* {
    font-family: NanumGothic;
    font-style: normal;
}

#Audio_box {
    width: 400px;
    height: 50px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px 0 10px;
}

#Audio_pause {
    cursor: pointer;
    filter: opacity(0.3) drop-shadow(0 0 0 #ccc);
}

#Audio_bar {
    width: 150px;
    height: 10px;
    background-color: #ccc;
    border: 2px soild #bbb;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

#Audio_bar_button {
    width: 20px;
    height: 20px;
    background-color: #888;
    border: none;
    border-radius: 20px;
    display: none;
}

#Audio_sound {
    width: 30px;
    height: 30px;
    filter: opacity(0.3) drop-shadow(0 0 0 #ccc);
    z-index: 5;
}

#Sound_box {
    width: 130px;
    height: 30px;
    padding-right: 35px;
    background: #ddd;
    box-shadow: 0 0 5px 2px #ccc;
    border-radius: 10px;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    display: flex;
    transform-origin: right;
    transform: scale(0);
    transition: 0.3s;
}

#Sound_volume {
    width: 30px;
    font-size: 15px;
    justify-content: center;
    display: flex;
}

#Sound_bar {
    width: 70px;
    height: 7px;
    background-color: #bbb;
    border: 2px soild #bbb;
    border-radius: 20px;
    align-items: center;
    display: flex;
}

#Sound_bar_button {
    width: 15px;
    height: 15px;
    background-color: #222;
    border: none;
    border-radius: 20px;
    display: block;
}

#Audio_auth_button {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}

#Audio_auth_button div {
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background-color: #222;
}

#Audio_auth_button:hover {
    background-color: #ddd;
}

#Audio_auth {
    width: 110px;
    height: auto;
    padding: 10px;
    position: fixed;
    background: #ddd;
    border-radius: 10px;
    display: flex;
    transform-origin: right bottom;
    transform: scale(0);
    transition: 0.3s;
}

.auths{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.auths:hover {
    background: #ccc;
}