body {
    background: #212129;
}

::selection {
    background: #212129;
}

.search_wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.search_wrapper.active {
}

.search_wrapper .input_holder {
    height: 70px;
    width: 70px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
    border-radius: 6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.search_wrapper.active .input_holder {
    width: 450px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.5);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search_wrapper .input_holder .search_input {
    position: absolute;
    width: 100%;
    height: 50px;
    opacity: 0;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 20px;
    font-family: "Open Sans", Arial, Verdana;
    padding: 0 70px 0 20px;
    background: transparent;
    box-sizing: border-box;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}

.search_wrapper.active .input_holder .search_input {
    opacity: 1;
    transform: translate(0, 10px);
}

.search_wrapper .input_holder .search_icon {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 6px;
    background: #fff;
    padding: 0;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search_wrapper.active .input_holder .search_icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 30px;
}

.search_wrapper .input_holder .search_icon span {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650,-0.600,0.240,1.650);
}

.search_wrapper.active .input_holder .search_icon span {
    transform: rotate(-45deg);
}

.search_wrapper .input_holder .search_icon span::before,
.search_wrapper .input_holder .search_icon span::after{
    position: absolute;
    content: '';
}

.search_wrapper .input_holder .search_icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top:18px;
    border-radius: 2px;
    background: #fe5f55;
}

.search_wrapper .input_holder .search_icon span::after {
    width: 14px;
    height: 14px;
    left: 0;
    top: 0;
    border-radius: 16px;
    border: 4px solid #fe5f55;
}

.search_wrapper .close {
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285,-0.450,0.935,0.110);
    transition-delay: 0.2s;
}

.search_wrapper.active .close {
    right: -50px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000,0.105,0.035,1.570);
    transition-delay: 0.5s;
}

.search_wrapper .close::before,
.search_wrapper .close::after {
    position: absolute;
    content: '';
    background: #fe5f55;
    border-radius: 2px;
}

.search_wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0;
}

.search_wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0;
    top: 10px;
}