a{
    color : black;
    text-decoration-line: none;
}
.link:hover{
    color : black;
    text-decoration-line: underline;
}
#up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}
#up_laft{
    margin-left: 20px;
}
#up_right{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    width:280px;
}
#Gmail{
    margin-top:10px;
    margin-right:10px;
}
#image{
    margin-top: 10px;
    margin-right:10px
}
#app{
    display: flex;
    width:17px;
    height:17px;
    margin-top: 10px;
    margin-right:20px;
    opacity: 0.5;
}
#login{
    background-color:rgba(26, 115, 232,121);
    color :white;
    width:95px;
    height: 36px;
    margin-top: 2px;
    margin-right:10px;
    font-size: 14px;
    border:0;
    outline:0;
    border-radius: 5px 5px;
}
#login:hover{
    background-color:rgb(66, 134, 244);
}

#logo{

}

#search{
    display: flex;
    width:500px;
    height: 40px;
    border-radius: 30px 30px;
    justify-content: center;
}